<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.jessyan.armscomponent.zhihu">

    <application>
        <activity
            android:name=".mvp.ui.activity.ZhihuHomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/public_name_zhihu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.ui.activity.DetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <!-- 在组件集成宿主时, 由于宿主已经声明了 CommonSDK 的公有 ConfigModule, 所以在这里只需要声明业务组件自己的 ConfigModule -->
        <meta-data
            android:name="me.jessyan.armscomponent.zhihu.app.GlobalConfiguration"
            android:value="ConfigModule"/>
    </application>

</manifest>