<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.jessyan.armscomponent.gold">

    <application
        android:theme="@style/public_AppTheme">
        <activity
            android:name=".mvp.ui.activity.GoldHomeActivity"
            android:label="@string/public_name_gold"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mvp.ui.activity.DetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <!-- 每个业务组件需要声明两个 ConfigModule, CommonSDK 的 ConfigModule 和 业务组件自己的 ConfigModule
        CommonSDK 的 ConfigModule 含有有每个组件都可共用的配置信息, 业务组件自己的 ConfigModule 含有自己独有的配置
        信息, 这样即可重用代码, 又可以允许每个组件可自行管理自己独有的配置信息, 如果业务组件没有独有的配置信息则只需要
        声明 CommonSDK 的 ConfigModule-->
        <meta-data
            android:name="me.jessyan.armscomponent.gold.app.GlobalConfiguration"
            android:value="ConfigModule"/>
    </application>

</manifest>